@charset "utf-8";

#skip{
	position:relative;
	z-index:102;
	a{
		position: absolute;
	    left: 0;
	    top: -30px;
	    width: 108px;
	    border: 1px solid #eaeaea;
	    text-align: center;
	    outline: none;
	    background-color:#000;
	    &:focus,
	    &:active{
	    	top: 0;
		    text-decoration: none;
		    cursor: pointer;
		    zoom: 1;
	    }
	    span{
    		display: inline-block;
		    padding: 2px 6px 0 0;
		    font-size: 11px;
		    letter-spacing: -1px;
		    color: #fff;
		    line-height: 26px;
	    }
	}
}

/** aside **/
#aside{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:70px;
	background-color:#fff;
	z-index:12;
}
#nav{
	height:100%;
}
.navlist{
	li{
		a{
			display:block;
			position:relative;
			text-align:center;
			padding-top:41px;
			padding-bottom:18px;
			width:70px;
			font-size:12px;
			&.hmn_mod,
			&.hmn_sports{
				width:calc(100% - 8px);
				margin-left:4px;
				background-color:#98a9ba;
				color:#fff;
				border-radius:5px;
				height:68px;
				padding-top:40px;
				&:hover{
					text-decoration:underline;
				}	
			}
			&.hmn_sports{
				margin-top:4px;
			}
			&.hmn_mod{
				margin-top: 18px;
			}
			&:after{
				content:"";
				display:block;
				position:absolute;
				background-image:url(../../images/sprite_nav.png);
				background-repeat:no-repeat;
				width:20px;
				height:20px;
				top:18px;
				left:50%;
				margin-left:-10px;
			}
			@each $obj in (hmn_sch:0, hmn_route:1, hmn_layer:2, hmn_file:3 , hmn_issue:4 , hmn_memo:5 ,hmn_fav:6 , hmn_loc:7 , hmn_rad:8 , hmn_adm:9 , hmn_mod:10 , hmn_sports:11) {
				&.#{nth($obj,1)}{
					@if nth($obj,1) == "hmn_sch"{
						&.active{
							background-color:#0277bd !important;
							color:#fff !important;
							&:after{
								background-position:-25px -#{nth($obj,2)*25}px;	
							}
						}
					}
					&:hover{
						@if nth($obj,1) != "hmn_mod"{
							@if nth($obj,1) != "hmn_sports"{
								background-color:#f0f0f0;
							} 
						}
					}
					
				  	&:after{
				  		@if nth($obj,1) == "hmn_loc"{
				  			width:25px;
				  			margin-left:-12.5px;
				  		}
				  		background-position:0 -#{nth($obj,2)*25}px;
				  	}
			  	}
			}

		}
	}
}

/** 
controls
 **/
 #map_control{
 	position:fixed;
 	right:15px;
 	top:15px;
 	z-index:100;
 }

 .item_control{
 	&.fir{
 		border-top:0;
 	}
 	position:relative;
 	border-top:1px solid #e6e6e6;
 	&.active{
 		.item_list{
 			display:block;
 			z-index: 30;
 		}
 		&+li{	
 		}
 		.btn_option{
 			&:after{display:none;}
 		}
 		
 	}
 	.on{
 		
 	}
 	button{
 		position: relative;
 		display:block;
 		color:#222;
 		font-size:9px;
 		text-align:center;
 		width:44px;
 		height:44px;
 		line-height:1;
 		letter-spacing: -0.05em;
		z-index: 20;
 		&.on:active div,
 		&:active div{
			transform:scale3d(0.8,0.8,0.8);
      		transition:all 0.1s ease-in;
 		}
 		&.on div{
		    transform:scale3d(1,1,1);
 		}
 		&.on{
			span{
		    	color:#0277bd;
		    }
 		}
 		div{
			position: absolute;
			top: 7px;
			left: 0;
			width: 100%;
			text-align: center;

			transform:scale3d(1,1,1);
	      	transition:all 0.1s ease-in;
	    	transition-delay:0.1s;
	 	}
 		span{
 			position: absolute;
 			bottom: 6px;
 			display: block;
 			width: 100%;

 		}
 	}
 	.btn_option{
 		position:relative;
 		z-index:1000;
 		&:after{
 			content:"";
 			display:block;
 			position:absolute;
 			left:1px;
 			bottom:1px;
 			width:4px;
 			height:4px;
 			background:url(../../images/hover_mark.png) no-repeat 0 0 ;
 		}
 	}
 	#solo{
 		.rbtn_item{
 			&.on{
 				background:#f0f0f0;
 			}
 		} 
 	}
 	.item_list{
 		display:none;
 		position:absolute;
 		right:-1px;
 		top:-1px;
 		padding:1px 43px 1px 1px;
 		z-index: 10;
 		&.sort{
 			width:316px;
 			background:url(../../images/bg1.png) no-repeat 0 0;
 		}

 		&.load_view{
 			width:136px;
 			background:url(../../images/bg2.png) no-repeat 0 0;
 		}

 		&.add{
 			width:181px;
 			height:91px;
 			background:url(../../images/bg3.png) no-repeat 0 0;
 			.dobule{
 				
 			}
 		}

 		&.size{
 			width:181px;
 			background:url(../../images/bg4.png) no-repeat 0 0;
 			ul{
 				li{
 					&:first-child{
 						button{
 							span{
 								color:#a7a7a7;
 							}
 						}
 					}
 				}
 			}
 		}

 		&.space{
 			width:181px;
 			background:url(../../images/bg4.png) no-repeat 0 0;
 			ul{
 				li{
 					&:first-child{
 						button{
 							span{
 								color:#a7a7a7;
 							}
 						}
 					}
 				}
 			}
 		}


 		ul{
 			overflow:hidden;
 			li{
 				&:first-child{
 					border-left:0;
 				}
 				float:left;
 				border-left:1px solid #e6e6e6;
 				background-color:#fff;
 				button:hover{
 					background-color:#f0f0f0;
 				}
 			}
 			&.l1{
	 			position: relative;
	 			height: 45px;
				&:after{
					position: absolute;
					z-index: 1;
					bottom: 0;
					content:'';
					display: block;
					width: 134px;
					height: 1px;
					background:#e6e6e6;
				}
	 		}
	 		&.dobule{
	 			
	 			li{
	 				&:last-child{border-right: none;}
	 			}
	 		}
 		}
 	}
 }

 .hmn_control,
 .hmn_widget{
 	background-color:#fff;
 	border:1px solid rgba(0,0,0,0.35);
 }

 .hmn_widget{
 	margin-top:18px;
 }

@mixin spr_image($w,$h,$x,$y){
	width:$w;
	height:$h;
	background-position:$x $y;
	margin-left:-$w/2;
}
.spr_1{
	.btn_option{
 	span:after{
 		top:6px;
 		@include spr_image(16px,16px,0,0)
 	}
	}
	ul{
		li:first-child{
			span:after{
			top:10px;
			@include spr_image(24px,10px,-30px,0);
			}
			&+li{
				span:after{
				top:10px;
				@include spr_image(24px,10px,-60px,0);
 			}	
			}
			&+li+li{
				span:after{
				top:8px;
				@include spr_image(14px,14px,-90px,0);
 			}	
			}
			&+li+li+li{
				span:after{
				top:7px;
				@include spr_image(16px,16px,-120px,0);
 			}	
			}
			&+li+li+li+li{
				span:after{
				top:6px;
				@include spr_image(17px,18px,-150px,0);
 			}	
			}
		}
	}
}
.spr_2{
	.btn_option{
 	span:after{
 		top:6px;
 		@include spr_image(16px,18px,0,-30px)
 	}
	}
	ul{
		li:first-child{
			span:after{
			top:8px;
			@include spr_image(14px,14px,-30px,-30px);
			}
			&+li{
				span:after{
				top:7px;
				@include spr_image(16px,16px,-60px,-30px);
 			}	
			}
			
		}
	}
}

.spr_3{
	.btn_option{
 	span:after{
 		top:8px;
 		@include spr_image(16px,15px,0,-60px)
 	}
	}
	ul.l1{
		li:first-child{
			span:after{
			top:8px;
			@include spr_image(17px,16px,-30px,-60px);
			}
			&+li{
				span:after{
				top:7px;
				@include spr_image(19px,16px,-60px,-60px);
 			}	 
			}
			&+li+li{
				span:after{
				top:7px;
				@include spr_image(17px,16px,-90px,-60px);
 			}	
			}
		}
	}
	ul.l2{
		li:first-child{
			span:after{
			top:6px;
			@include spr_image(18px,18px,-120px,-60px);
			}
			&+li{
				span:after{
				top:6px;
				@include spr_image(15px,18px,-150px,-60px);
 			}	
			}
			&+li+li{
				span:after{
				top:6px;
				@include spr_image(18px,18px,-180px,-60px);
 			}	
			}
		}
	}
}


.spr_4{
	button:hover{
		background-color:#f0f0f0;
	}
 	span:after{
 		top:7px;
 		@include spr_image(16px,18px,0,-90px)
 	}
 }


.spr_5{
	button:hover{
		background-color:#f0f0f0;
	}
 	span:after{
 		top:16px;
 		@include spr_image(13px,13px,0,-120px)
 	}
 	.r_ibtn{
 		top: 15px;	
 	}
 	
 }

 .spr_6{
 	button:hover{
		background-color:#f0f0f0;
	}
 	span:after{
 		top:15px;
 		@include spr_image(13px,1px,0,-150px)
 	}
 	.r_ibtn{
 		top: 22px;	
 		img{
 			vertical-align: top	
 		}
 	}
 }

 .spr_7{
 	.btn_option{
	 	span:after{
	 		top:7px;
	 		@include spr_image(16px,16px,0,-180px)
	 	}
 	}
 	ul{
 		li:first-child{
 			span:after{
				top:7px;
				@include spr_image(16px,16px,-30px,-180px);
 			}
 			&+li{
 				span:after{
					top:7px;
					@include spr_image(16px,16px,-60px,-180px);
	 			}	
 			}
 			&+li+li{
 				span:after{
					top:7px;
					@include spr_image(16px,16px,-90px,-180px);
	 			}	
 			}
 		}
 	}
 }


 .spr_8{
 	button:hover{
		background-color:#f0f0f0;
	}
 	span:after{
 		top:7px;
 		@include spr_image(18px,15px,0,-210px)
 	}
 }

 .spr_9{
 	button:hover{
		background-color:#f0f0f0;
	}
 	span:after{
 		top:7px;
 		@include spr_image(16px,16px,0,-240px)
 	}
 }

.item_control .r_ibtn{
	span{
		position:relative;
		display:inline-block;
		width:auto;
		bottom:auto;
		.img_default{
			opacity:1;
			position:relative;
			z-index:2;
			visibility:visible;
			top:0;
		}
		.img_over{
			position:absolute;
			visibility:hidden;
			opacity:0;
			top:0;
			left:0;
		}
	}
}


.rbtn_item{
	&.on{
		&.reset_btn{
			span{color:#222 !important;}
		}
	}
	span{
		&.spin{
			img{
				transition:all 0.65s ease-in;
			}
			.img_default{
				transform:rotate(0);
			}
			.img_over{
				transform:rotate(0);
			}
		}
		&.updown{
			img{
				transition:all 0.5s ease-in;
			}
			.img_default{
				transform: translateY(0)
			}
			.img_over{
				transform: translateY(-5px);
			}	
		}
		&.skew{
			img{
				transition:all 0.8s ease-in;
			}
			.img_default{
				transform:rotate(0deg);
			}
			.img_over{
				transform:rotate(-15deg);
			}
		}
	}
}

.rbtn_item.on{
	span{
		.img_default{
			opacity:0;
			visibility:hidden;
		}
		.img_over{
			opacity:1;
			visibility:visible;
		}
		&.spin{
			.img_default{
				transform:rotate(-180deg);
			}
			.img_over{
				transform:rotate(180deg);
			}
		}
		&.updown{
			.img_default{
				transform: translateY(-5px)
			}
			.img_over{
				transform: translateY(0)
			}	
		} 
		&.skew{
			.img_default{
				transform:rotate(15deg);
			}
			.img_over{
				transform:rotate(0deg);
			}
		}
	}
}
.mCSB_inside>.mCSB_container{
	margin:0;
}
.mCSB_scrollTools{
	width:10px;
}